<div class="flex">
  <button (click)="toggleDrawer()" class="toggle">
    ☰
  </button>
  <a routerLink="/" class="navbar-brand">Mathieu STAMM</a>

</div>

@if (drawerOpen) {
  <div class="burger"
       (click)="toggleDrawer()"
  ></div>
}

<nav
  class="navbar"
  [class.-translate-x-full]="!drawerOpen"
>
  <div class="brand-container">
    <a routerLink="/">Mathieu STAMM</a>
    <button (click)="toggleDrawer()" class="close-btn">
      X
    </button>

  </div>
  <ul class="nav-list">
    <li>
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        (click)="toggleDrawer()"
        class="nav-link">
        Accueil
      </a>
    </li>
    <li>
      <a
        routerLink="/projects"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        (click)="toggleDrawer()"
        class="nav-link">
        Mes Projets
      </a>
    </li>
    <li>
      <a
        routerLink="/skills"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        (click)="toggleDrawer()"
        class="nav-link">
        Mes compétences
      </a>
    </li>
    <li>
      <a
        routerLink="/experiences"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        (click)="toggleDrawer()"
        class="nav-link">
        Mon CV
      </a>
    </li>
    <li>
      <a
        routerLink="/contact"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        (click)="toggleDrawer()"
        class="nav-link">
        Contact
      </a>
    </li>
  </ul>
</nav>
