<!-- Bouton pour ouvrir le drawer -->
<button (click)="toggleDrawer()" class="p-2 text-gray-700 md:hidden">
  ☰
</button>

@if (drawerOpen) {
  <div class="fixed inset-0 z-40 bg-black bg-opacity-50 transition-opacity md:hidden"
       (click)="toggleDrawer()"
  ></div>
}

<nav
  class="fixed top-0 left-0 z-50 h-full w-64 md:w-full bg-white shadow transform transition-transform duration-300 md:relative md:translate-x-0 md:flex"
  [class.-translate-x-full]="!drawerOpen"
>
  <div class="p-4 border-b md:border-0 font-bold text-lg">Mon App</div>
  <ul class="p-4 space-y-2 md:flex">
    <li>
      <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500 font-bold"
         class="block p-2 hover:bg-gray-100 rounded">Accueil</a>
    </li>
    <li>
      <a routerLink="/projects" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500 font-bold"
         class="block p-2 hover:bg-gray-100 rounded">Mes Projets</a>
    </li>
    <li>
      <a routerLink="/skills" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500 font-bold"
         class="block p-2 hover:bg-gray-100 rounded">Mes
        compétences</a>
    </li>
    <li>
      <a routerLink="/experiences" [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="text-blue-500 font-bold"
         class="block p-2 hover:bg-gray-100 rounded">Mon CV</a>
    </li>
    <li>
      <a routerLink="/contact" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-blue-500 font-bold"
         class="block p-2 hover:bg-gray-100 rounded">Contact</a>
    </li>
  </ul>
</nav>
