<div class="grid-box">
  <div class="mx-3">
    <h2>Mes Formations</h2>
    @for (formation of formations; track formation.id) {
      <app-card
        [title]="formation.title"
        [school]="formation.school"
        [date]="formation.date">
      </app-card>
    }
  </div>
  <div class="mx-3">
    <h2>Mes informations</h2>
    <div class="card">
      <div class="data-column">
        <h5 class="card-title">Mathieu STAMM</h5>
        <img [ngSrc]="mathieu" alt="Mathieu STAMM" width="215" height="200">
      </div>
      <p class="card-subtitle" i18n>Jeune développeur Web et Web-Mobile fraîchement diplômé, actuellement en attente des résultats de ma licence professionnelle, je suis à la recherche d’un premier emploi afin d’acquérir mes premières expériences.</p>
    </div>
    <div class="card">
      <div class="data">
        <h6 class="card-footer" i18n>Date de Naissance: </h6>
        <p class="card-footer" i18n>12/02/1998 ({{ calculateAge('1998-02-12') }} ans)</p>
      </div>
      <div class="data">
        <h6 class="card-footer" i18n>Habite à: </h6>
        <p class="card-footer">Mulhouse</p>
      </div>
      <div class="data">
        <h6 class="card-footer" i18n>Téléphone: </h6>
        <a href="tel:+33669142804" class="link-contact">+33 669142804</a>
      </div>
      <div class="data">
        <h6 class="card-footer">Email: </h6>
        <a href="mailto:mathieu.stamm@gmail.com" class="link-contact">mathieu.stamm&#64;gmail.com</a>
      </div>
    </div>
  </div>
  <div class="mx-3">
    <h2>Mes Éxpérience</h2>
    @for (exp of experiences; track exp.id) {
      <app-experience-card
        [title]="exp.title"
        [company]="exp.company"
        [description]="exp.description"
        [date]="exp.date">
      </app-experience-card>
    }
  </div>
</div>
